body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1f5fe;
}

header {
    background-color: #ffcccb;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: #ffcccc;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
	
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #d32f2f;
}
